body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.carousel {
    width: 600px;
    height: 600px;
    border: 2px black solid;
}

.frame {
    width: 600px;
    height: 500px;
    border: 2px black solid;
    position: relative;
}

.nav-bar {
    width: 100%;
    height: 100px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 0;
}

img {
    width: 600px;
    height: 500px;
}

#img2, #img3, #img4, #img5 {
    display: none;
}

.arrows {
    position: absolute;
    display: flex;
    width: 100%;
    justify-content: space-between;
    bottom: 50%;
    opacity: 0.4;
}

.left-arrow, .right-arrow {
    background-color: grey;
    cursor: pointer;
    color: white;
    border-radius: 0.25rem;
    font-size: xx-large;
    font-weight: 1000;
}

.left-arrow:hover {
    opacity: 80%;
}

.right-arrow:hover {
    opacity: 80%;
}

.nav-button {
    background-color: transparent;
    font-size: xx-large;
    font-weight: 600;
    border: transparent;
    cursor: pointer;
}

#nav1 {
    color: white;
}